header{
background-color: rgb(161, 185, 185);

}

body{
    background-color: rgb(247, 209, 127);
}
footer{
    background-color: rgb(161, 185, 185); 
    text-align: center;
    color: blue;
    padding-bottom: 7px;
}
nav{
    padding-inline-start: 80%;